<!-- locations#index page -->

<h1>EventOnly</h1>

<p>
  <%= link_to 'New Location',  new_location_path %>
</p>

<%= render @locations %>


<!-- add a link to the page called new location. It adds it to all locations! -->
